In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

Learning __alignment__ here.

Series also has an index

In [3]:
drinks['continent'].head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [4]:
drinks.set_index('country', inplace = True)
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [5]:
## Observe the new index
drinks['continent'].head()

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [6]:
drinks['continent'].value_counts()   # it returns a series with continent names as index

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [7]:
## To get the values for rach index
drinks['continent'].value_counts().values

array([53, 45, 44, 23, 16, 12], dtype=int64)

We can use index to select values from series

In [8]:
drinks['continent'].value_counts()['Africa']

53

### To sort values in the series - `sort_values()` 
Will sort in ascending order.

In [9]:
drinks['continent'].value_counts().sort_values()

South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: continent, dtype: int64

### To sort the index itself in ascending order (alphabetical/numerical order)

In [10]:
drinks['continent'].value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

### To learn alignment

In [12]:
people = pd.Series([3000000, 85000], index = ['Albania', 'Andorra'], name = 'population')
people

Albania    3000000
Andorra      85000
Name: population, dtype: int64

Using it with drinks dataset to calculate the total drinks serving for each country. Can be done using multiplying the people series with the dataframe's beear_serving which gives avg per person

In [15]:
people * drinks['beer_servings'].head()   # COuntries not in series is assigned NaN
# Observe corresponding countries have been multiplied => Alignment

Afghanistan            NaN
Albania        267000000.0
Algeria                NaN
Andorra         20825000.0
Angola                 NaN
dtype: float64

__Alignment__ allows us to put data together even if they are not of same length, as long as you tell which row corresponds to another row.

## How to add people's series and add it to dataframe as a col/row

In [17]:
pd.concat([drinks, people], axis = 1).head()

C:\Users\Jeswin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,population
Afghanistan,0,0,0,0.0,Asia,NaN
Albania,89,132,54,4.9,Europe,3000000.0
Algeria,25,0,14,0.7,Africa,NaN
Andorra,245,138,312,12.4,Europe,85000.0
Angola,217,57,45,5.9,Africa,NaN